.idea/
.DS_Store
AAA_old_code/

predictor_model/.DS_Store
predictor_model/__pycache__/
predictor_model/utils/__pycache__/
predictor_model/model_1/
predictor_model/model_2/
predictor_model/model_3/

experimental_code/dust1.png
experimental_code/dust_cloud1.png
experimental_code/metal_mask.png
experimental_code/ref1.png