# basics
.idea/
**/.DS_Store
**/__pycache__/

# files types
*.pth
*.log
*_predictions.png

# large file locations (manually copy these)
model_*/
past_experiments/
metrics/*.png

# legacy code directories
AAA_old_code/
BBB_old_code/
CCC_old_code/