.idea/
.DS_Store

AAA_old_code/
experimental_code/
label_maker/

predictor_model/.DS_Store
predictor_model/__pycache__/
predictor_model/utils/__pycache__/
predictor_model/model_1/
predictor_model/model_2/
predictor_model/model_3/